  
<!DOCTYPE html>
<html>
  <head>
    <title>Crear Peliculas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <h1>Editar pelicula</h1>
          <nav> 
            <ul>
              <li><a href="/users/register">Registrarse</a></li>
              <li><a href="/users/login">Iniciar sesión</a></li>
              <li><a href="/users/logout">Cerrar sesión</a></li>
            </ul>
          </nav>
      </header>
    <form action="/movies/edit/<%=movie.id%>" method="POST">
        <div>
            <label for="">Titulo</label>
            <input type="text" name="titulo" value="<%=movie.title%>">
        </div>
        <div>
            <label for="">Premios</label>
            <input type="text" name="premios" value="<%=movie.awards%>">
        </div>
        <div>
            <label for="">Duración</label>
            <input type="text" name="duracion" value="<%=movie.length%>">
        </div>
        <div>
            <label for="">Rating</label>
            <input type="text" name="rating" value="<%=movie.rating%>">
        </div>
        <div>
            <label for="">Fecha de estreno</label>
            <input type="date" name="release_date" value="<%=movie.release_date%>">
        </div>
        <div>
            <label for="">Genero</label>
            <select name="genero">
                <option value="1">Comedia</option>
                <option value="2">Terror</option>
                <option value="3">Drama</option>
                <option value="4">Acción</option>
                <option value="5">Ciencia Ficción</option>
                <option value="6" >Suspenso</option>
                <option value="7">Animación</option>
                <option value="8">Aventuras</option>
                <option value="9">Acción</option>
                <option value="10">Documental</option>
                <option value="11">Fantasia</option>
                <option value="12">Musical</option>
            </select>
        </div>
        <button type="submit">Crear</button>
    </form>
    <h3><a href="/movies">Volver al inicio</a></h3>
  </body>
</html>